body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5fa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:where(.css-dev-only-do-not-override-j0nf2s).ant-menu-light
  .ant-menu-item-selected {
  background-color: hsla(0, 0%, 100%, 0.1);
  border-left: 3px solid var(--purple-primary);
}

:where(.css-dev-only-do-not-override-j0nf2s).ant-layout {
  background: none;
}
:where(.css-dev-only-do-not-override-j0nf2s).ant-layout .ant-layout-sider {
  background: none;
}
:where(.css-dev-only-do-not-override-j0nf2s).ant-menu-light {
  background: none;
}
:where(.css-dev-only-do-not-override-j0nf2s).ant-menu .ant-menu-item {
  white-space: normal;
  line-height: normal;
}
:where(.css-dev-only-do-not-override-j0nf2s).ant-layout .ant-layout-sider {
  min-width: 240px;
}
.img_scale {
  transition: all 0.6s ease-in-out;
}
.img_scale:hover {
  transform: scale(1.2);
}
.custom-mask {
  border-radius: 999px;
}
.custom-content {
  color: #fff;
  font-size: 14px;
  padding: 10px;
}
.carousel_container {
  max-height: "229px";
}

.hidden {
  display: none;
}

.block {
  display: block;
}
:where(.css-dev-only-do-not-override-1me4733).ant-table-wrapper
  .ant-table-thead
  > tr
  > th {
  background-color: transparent;
}

:where(.css-dev-only-do-not-override-1me4733).ant-table-wrapper .ant-table,
:where(.css-dev-only-do-not-override-1me4733)[class^="ant-typography"],
:where(.css-dev-only-do-not-override-1me4733)[class*=" ant-typography"] {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.maskImage {
  width: 88px;
  opacity: unset !important;
  border-radius: 4px;
}
.maskImageOrder {
  width: 75px;
  opacity: unset !important;
  border-radius: 4px;
}
.selectedItems {
  border: 1px solid blue;
  border-radius: 4px;
}
.backgroundPayment::before {
  position: absolute;
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  background: linear-gradient(
    119.64deg,
    rgb(11, 190, 229) 9.56%,
    rgb(56, 86, 243) 73.79%
  );
  z-index: 1;
}
.backgroundPayment {
  position: absolute;
  width: 100%;
  height: 196px;
  left: 0px;
  top: 0px;
  z-index: 0;
}
.backgroundPayment::after {
  position: absolute;
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/checkout/confetti.svg);
  z-index: 2;
}
